html {
    display: table;
    margin: auto;
    background-color: #02040f;
}

.container {
    margin-top: 300px;
    text-align: center;
}

#chart {
    width: 600px;
}

#size {
    width: 60px;
}

#speed {
    width: 100px;
}

#algorithm-name {
    color:  #ffffff;
    font-family: "Verdana", sans-serif;
    font-size: 20px;
}